{% extends 'core/base.html' %}

{% block title %}{{ pot.name }}{% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ pot.plant.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ pot.name}}</h1>
        <p class="text-gray-500"><strong>Vrijednost senzora temperature: </strong>{{ pot.senzorTmp.currentValue }}{{ pot.senzorTmp.date }}</p>
        <p class="text-gray-500"><strong>Vrijednost senzora svjetline: </strong>{{ pot.senzorBrightness.currentValue }}{{ pot.senzorBrightness.date }}</p>
        <p class="text-gray-500"><strong>Vrijednost senzora ph: </strong>{{ pot.senzorPh.currentValue }}{{ pot.senzorPh.date }}</p>
        <p class="text-gray-500"><strong>Vrijednost senzora vlažnosti zraka: </strong>{{ pot.senzorHumidity.currentValue }}{{ pot.senzorHumidity.date }}</p>
        <div class="mt-6 p-6 pb-white rounded-xl">
            <a href= "{% url 'pot:edit' pot.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Ažuriraj</a>
            <a href= "{% url 'pot:delete' pot.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Obriši</a>
        </div>
    </div>
</div>
{% endblock %}