{% extends 'core/base.html' %}

{% block title %}Biljke{% endblock %}

{% block content %}


    <div class="pb-6 grid grid-cols-4 gap-4">
        <div class="col-span-3">
            <div class="grid grid-cols-5 gap-3">
                {% for pot in pots %}
                    <div>
                        <a href="{% url 'pot:detail' pot.id %}">
                            <column>
                                <div>
                                    {% if pot.plant.image.url is not null %}
                                        <img src="{{ pot.plant.image.url }}" class="rounded-t-xl">
                                    {% else %}
                                        <img src="../media/plant_images/placeholder.jpg" class="rounded-t-xl">
                                    {% endif %}
                                </div>
                            </column>
                            <column>
                                <div class="p-6 bg-gray-100 rounded-b-xl">
                                    <p class="text-2xl"><strong>Ime: </strong> {{ pot.name }}</p>
                                    {% if pot.plant is not null %}
                                    <p class="text-2xl"><strong>Status: </strong>{{ pot.status }}</p>
                                    {% else %}
                                    <p class="text-2xl"><strong>Status: </strong>Prazna Posuda</p>
                                    {% endif %}

                                </div>
                            </column>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <a href="{% url 'pot:new'%}" class="px-6 py-3 text-lg font-semibold bg-gray-500 text-white rounded-xl hover:bg-gray-700">Nova posuda</a>
    </div>
{% endblock %}